<tr>
  <th scope="row"><%= book_counter + 1 %></th>
  <td><%= link_to book.name, [:admin, book] %></td>
  <td>
    <% book.images.each do |image| %>
      <%= image_tag image, class: "img-fluid img-table" %>
    <% end %>
  </td>
  <td><%= book.category_name %></td>
  <td><%= book.quantity %></td>
  <td><%= price_format book.price %></td>
  <td><%= book.publisher_name %></td>
  <td><%= book.authors.pluck(:name).join(" ,") %></td>
  <td>
    <%= link_to t(".edit"), edit_admin_book_path(book),
    class: "btn btn-warning" %>
  <%= link_to t(".delete"), [:admin, book], method: :delete,
      class: "btn btn-danger", data: { confirm: t(".rusure") } %>
  </td>
</tr>
