<%= search_form_for @search, url: admin_books_path, class: "form-inline" do |f| %>
  <div class="form-floating mr-2">
    <%= f.text_field :book_cont, class: "form-control" %><br>
    <label><%= t "info" %></label>
  </div>
  <div class="form-floating mr-2">
    <%= f.number_field :price_gteq, class: "form-control" %><br>
    <label><%= t "price_greater_than" %></label>
  </div>
  <div class="form-floating mr-2">
    <%= f.number_field :price_lteq, class: "form-control" %><br>
    <label><%= t "price_less_than" %></label>
  </div>
  <div class="form-floating mr-2">
    <%= f.date_field :created_at_eq, value: "%Y/%D/%M", class: "form-control" %><br>
    <label><%= t "create_date" %></label>
  </div>
  <%= f.submit t("search"), class: "btn btn-primary search-btn" %>
<% end %>
