<% provide :title, t("all_book") %>
<div class="container">
  <h1><%= t "all_book" %></h1>
  <div class="row">
    <div class="col curd-container">
      <%= link_to t("create"), new_admin_book_path, class: "btn btn-info" %>
    </div>
  </div>
  <hr class="sidebar-divider">
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t ".index" %></th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".category" %></th>
        <th scope="col"><%= t ".quantity" %></th>
        <th scope="col"><%= t ".publisher" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @books %>
    </tbody>
  </table>
</div>
