<% provide:title, @book.name %>
<div class="row">
  <aside class="col">
    <section class="category-info">
      <h1><%= @book.name %></h1>
      <span><%= @book.desc %></span>
      <span><%= @book.nopage %></span>
      <span><%= @book.quantity %></span>
      <span><%= @book.price %></span>
      <span><%= @book.category_name %></span>
      <span><%= @book.publisher_name %></span>
        <%= link_to t(".edit"), edit_admin_book_path(@book),
          class: "btn btn-warning" %>
        <%= link_to t(".delete"), [:admin, @book], method: :delete,
          class: "btn btn-danger", data: { confirm: t(".rusure") } %>
    </section>
  </aside>
</div>
