<tr>
  <td><%= order.customer_name %></td>
  <td><%= order.delivery_address %></td>
  <td><%= order.delivery_phone %></td>
  <td>
    <% order.order_details.each do |od| %>
      <div>
        <%= link_to od.book.name, book_path(od.book.id) %> x
        <%= od.quantity %>
      </div>
    <% end %>
  </td>
  <td>
    <span class="badges badge-<%= order.status %>">
      <%= order.status %>
    </span>
  </td>
  <td>
    <% if order.status_pending? %>
      <%= link_to t(".accept"), admin_order_path(id: order.id, status: Settings.status_accepted),
          method: :patch, remote: true, class: "btn btn-success" %>
      <%= link_to t(".reject"), admin_order_path(id: order.id, status: Settings.status_rejected),
          {data: {confirm: t("reject_confirm")}, method: :delete, remote: true, class: "btn btn-warning"}%>
    <% elsif order.status_accepted? %>
      <%= link_to t(".ship"), admin_order_path(id: order.id, status: Settings.status_shipped),
          method: :patch, remote: true, class: "btn btn-primary" %>
    <% end %>
  </td>
</tr>
