<div class="container-fluid px-4">
  <h3 class="mt-4"><%= t "order_list" %></h3>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t "order_name" %></th>
        <th scope="col"><%= t "deli_address" %></th>
        <th scope="col"><%= t "deli_phone" %></th>
        <th scope="col"><%= t "product" %></th>
        <th scope="col"><%= t "status" %></th>
        <th scope="col"><%= t "option" %></th>
      </tr>
    </thead>
    <tbody>
      <div class="admin-orders-list">
        <%= render @orders %>
      </div>
    </tbody>
  </table>
   <%== pagy_bootstrap_nav(@pagy) %>
</div>
