<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-floating mb-3">
    <%= f.text_field :name, class: "form-control" %>
    <label><%= t "name" %></label>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :email, class: "form-control" %>
    <label><%= t "email" %></label>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :address, class: "form-control" %>
    <label><%= t "address" %></label>
  </div>
  <div class="form-floating mb-3">
    <%= f.telephone_field :phone, class: "form-control" %>
    <label><%= t "phone" %></label>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating mb-3 mb-md-0">
        <%= f.password_field :password, class: "form-control" %>
        <label><%= t "password" %></label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3 mb-md-0">
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <label><%= t "confirm" %></label>
      </div>
    </div>
  </div>
  <div class="mt-4 mb-0">
    <div class = "d-grid">
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
