<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <%= gravatar_for @user %>
              </div>
              <div class="userData ml-3">
                <h2 class="d-block user-name"><a href="javascript:void(0);"><%= @user.name %></a></h2>
                <h6 class="d-block"><a href="javascript:void(0)">1,500</a> Video Uploads</h6>
                <h6 class="d-block"><a href="javascript:void(0)">300</a> Blog Posts</h6>
              </div>
              <div>
              <div class="ml-auto">
                <%= link_to t(".edit"), edit_user_path(@user),
                class: "btn btn-danger" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true"><%= t "basic_info" %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false"><%= t ("network") %></a>
                </li>
              </ul>
              <div class="tab-content ml-1" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;"><%= t ".name" %></label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @user.name %>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;"><%= t ".email" %></label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @user.email %>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;"><%= t ".address" %></label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @user.address %>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;"><%= t ".phone"%></label>
                    </div>
                    <div class="col-md-8 col-6">
                      <%= @user.phone %>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                    Facebook, Google, Twitter Account that are connected to this account
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
