<div class="container-fluid px-4">
  <h3 class="mt-4"><%= t "my_order" %></h3>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t "receiver_information" %></th>
        <th scope="col"><%= t "product" %></th>
        <th scope="col"><%= t "order_at" %></th>
        <th scope="col"><%= t "status" %></th>
        <th scope="col"><%= t "option" %></th>
      </tr>
    </thead>
    <tbody class="align-items-center">
      <% if @orders.any? %>
        <% @orders.each do |item| %>
          <%= render partial: "orders/order", locals: {order: item} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
