<tr id="<%= "cart_#{cart["id"]}" %>">
  <td class="p-4">
    <div class="media align-items-center">
      <div class="card-img-actions">
        <% find_book(cart["book_id"]).images.each do |image| %>
          <%= image_tag image, class: "img-fluid img-table" %>
        <% end %>
      </div>
      <h5 class="font-weight-semibold ml-3"><%= @book.name %></h5>
    </div>
  </td>
  <td class="font-weight-semibold align-middle p-4"><%= price_format(@book.price) %></td>
  <td class="align-middle p-4">
    <div class="row">
      <%= link_to "-", 
        quantity_minus_path,
        data: {params: "book_id=#{cart["book_id"]}"}, method: :put,
        remote: true, class: "btn btn-primary col mr-1"
      %>
      <input type="number" size="2" class="form-control col-5" title="Qty" value="<%= cart["quantity"] %>" min="0" disabled>
      <%= link_to "+", quantity_plus_path,
        data: {params: "book_id=#{cart["book_id"]}"}, method: :put,
        remote: true, class: "btn btn-primary col ml-1"
      %>
    </div>
    <%= render partial: "quantities/quantity", locals: {cart: cart} %>
  </td>
  <td class="font-weight-semibold align-middle p-4"><%= price_format(cart["quantity"]*@book.price) %></td>
  <td class="text-center align-middle">
    <%= link_to t("delete"), delete_cart_path,
      data: {params: "book_id=#{cart["book_id"]}"}, method: :delete,
      remote: true, class: "btn btn-danger"
    %>
  </td>
</tr>
