<tr>
  <th scope="row"><%= category_counter + 1 %></th>
  <td><%= link_to category.name, [:admin, category] %></td>
  <td><%= category.desc %></td>
  <td>
    <%= link_to t("edit"), edit_admin_category_path(category),
        class: "btn btn-warning" %>
    <%= link_to t("delete"), [:admin, category], method: :delete,
      class: "btn btn-danger", data: { confirm: t("sure") } %>
  </td>
</tr>
