<% provide :title, t("all_category") %>
<div class="container">
  <h1><%= t "all_category" %></h1>

  <div class="d-flex justify-content-between align-items-center">
    <%= link_to t("create"), new_admin_category_path, class: "btn btn-info" %>
    <%= render "form_search" %>
  </div>

  <hr class="sidebar-divider">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t ".index" %></th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".description" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
