<% provide :title, t("all_category") %>
<div class="container">
  <h1><%= t "all_category" %></h1>
  <div class="row">
    <div class="col curd-container">
      <%= link_to t("create"), new_admin_category_path, class: "btn btn-info" %>
    </div>
  </div>
  <hr class="sidebar-divider">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col"><%= t ".index" %></th>
        <th scope="col"><%= t ".name" %></th>
        <th scope="col"><%= t ".description" %></th>
        <th scope="col"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
