<div class="container mt-50 mb-50">
  <h4 class="mt-4"><%= t "category" %>: <%= @category.name %></h4>
  <div class="row mb-4">
    <%= render "form_search" %>
    <%= render partial: "category", collection: @books, as: :book %>
  </div>
  <%== pagy_bootstrap_nav @pagy %>
</div>
