<% provide:title, @category.name %>
<div class="row">
  <aside class="col">
    <section class="category-info">
      <h1><%= t "category: " + @category.name %></h1>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t ".index" %></th>
            <th scope="col"><%= t ".name" %></th>
            <th scope="col"><%= t ".description" %></th>
            <th scope="col"><%= t ".nopage" %></th>
            <th scope="col"><%= t ".quantity" %></th>
            <th scope="col"><%= t ".price" %></th>
            <th scope="col"><%= t ".action" %></th>
          </tr>
        </thead>
        <% load_book.each_with_index do |book, index| %>
        <tbody>
          <tr>
            <td scope="col"><%= index + 1 %></td>
            <td scope="col"><%= link_to book.name, [:admin, book] %></td>
            <td scope="col"><%= book.desc %></td>
            <td scope="col"><%= book.nopage %></td>
            <td scope="col"><%= book.quantity %></td>
            <td scope="col"><%= book.price %></td>
            <td scope="col">
              <%= link_to t(".edit"), edit_admin_book_path(book),
              class: "btn btn-warning" %>
            <%= link_to t(".delete"), [:admin, book], method: :delete,
                class: "btn btn-danger", data: { confirm: t(".rusure") } %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </section>
  </aside>
</div>
