<div class="container px-3 my-5 clearfix">
  <div class="card">
  <div class="card-header">
    <h3><%= t "cart" %></h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered m-0">
        <thead>
          <tr>
            <th class="text-center py-3 px-4" style="min-width: 400px;"><%= t "product" %></th>
            <th class="text-right py-3 px-4" style="width: 100px;"><%= t "cost" %></th>
            <th class="text-center py-3 px-4" style="width: 120px;"><%= t "quantity" %></th>
            <th class="text-right py-3 px-4" style="width: 100px;"><%= t "total" %></th>
            <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-4">
              <div class="media align-items-center">
                <img src="https://cdn0.fahasa.com/media/catalog/product/d/r/dr.-stone---tap-10.jpg" width="auto" height="100" alt="">
                <label><%= t "store.product_name" %></label>
              </div>
            </td>
            <td class="text-right font-weight-semibold align-middle p-4"><%= t "store.product_price" %></td>
            <td class="align-middle p-4"><input type="text" class="form-control text-center" value="1"></td>
            <td class="text-right font-weight-semibold align-middle p-4"><%= t "store.product_price" %></td>
            <td class="text-center align-middle px-0"><a href="#" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
          </tr>      
        </tbody>
      </table>
    </div>
      <!-- / Shopping cart table -->
    <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
      <div class="d-flex">
        <div class="text-right mt-4">
          <label class="text-muted font-weight-normal m-0"><%= t "total" %></label>
          <div class="text-large"><h3><%= t "store.product_price" %></h3></div>
        </div>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"><%= t "back" %></button>
        <button type="button" class="btn btn-lg btn-primary mt-2"><%= t "checkout" %></button>
      </div>
    </div>
  </div>
</div>
