<div class="container-fluid">
  <h3 class="mt-4"><%= t "store.new_product" %></h3>
</div>

<div class="container d-flex justify-content-center mt-50 mb-50">
  <div class="row">
    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img-actions"> <img src="https://cdn0.fahasa.com/media/catalog/product/d/r/dr.-stone---tap-10.jpg" class="card-img img-fluid" width="96" height="350" alt=""> </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true"><%= t "store.product_name" %></a> </h6> 
            <a href="#" class="text-muted" data-abc="true"><%= t "store.product_category" %></a>
          </div>
          <h4 class="mb-0 font-weight-semibold"><%= t "store.product_price" %></h4>
          <button type="button" class="btn btn-primary"><i class="fa fa-cart-plus mr-2"></i> <%= t "store.add_to_cart" %></button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img-actions"> <img src="https://cdn0.fahasa.com/media/catalog/product/d/r/dr.-stone---tap-10.jpg" class="card-img img-fluid" width="96" height="350" alt=""> </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true"><%= t "store.product_name" %></a> </h6> 
            <a href="#" class="text-muted" data-abc="true"><%= t "store.product_category" %></a>
          </div>
          <h4 class="mb-0 font-weight-semibold"><%= t "store.product_price" %></h4>
          <button type="button" class="btn btn-primary"><i class="fa fa-cart-plus mr-2"></i> <%= t "store.add_to_cart" %></button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img-actions"> <img src="https://cdn0.fahasa.com/media/catalog/product/d/r/dr.-stone---tap-10.jpg" class="card-img img-fluid" width="96" height="350" alt=""> </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true"><%= t "store.product_name" %></a> </h6> 
            <a href="#" class="text-muted" data-abc="true"><%= t "store.product_category" %></a>
          </div>
          <h4 class="mb-0 font-weight-semibold"><%= t "store.product_price" %></h4>
          <button type="button" class="btn btn-primary"><i class="fa fa-cart-plus mr-2"></i> <%= t "store.add_to_cart" %></button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img-actions"> <img src="https://cdn0.fahasa.com/media/catalog/product/d/r/dr.-stone---tap-10.jpg" class="card-img img-fluid" width="96" height="350" alt=""> </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true"><%= t "store.product_name" %></a> </h6> 
            <a href="#" class="text-muted" data-abc="true"><%= t "store.product_category" %></a>
          </div>
          <h4 class="mb-0 font-weight-semibold"><%= t "store.product_price" %></h4>
          <button type="button" class="btn btn-primary"><i class="fa fa-cart-plus mr-2"></i> <%= t "store.add_to_cart" %></button>
        </div>
      </div>
    </div>
  </div>
</div>
