<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class="container mt-2">
      <%= render "devise/shared/flash_notices" %>
      <div class="main min-vh-100">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
